name: Documentation
on:
  pull_request:
    types: [opened, synchronize]
    paths: [docs/**]
jobs:
  docs:
    runs-on: ubuntu-latest
    name: Build Documentation
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          check-latest: true
          node-version: 'lts/*'
          cache: npm
      - run: npm ci
      - run: npm run docs:build
