name: Documentation
on:
  pull_request:
    types: [opened, synchronize]
    paths: [docs/**]
jobs:
  docs:
    runs-on: ubuntu-latest
    name: Build Documentation
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          check-latest: true
          node-version: 'lts/*'
          cache: npm
      - run: npm ci
      - run: npm run docs:build
