# TODO: make this a workflow_call so it is used as a building block?
name: Lint
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  actions:
    runs-on: ubuntu-latest
    name: Actions
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1
        with:
          reporter: github-pr-review
  typos:
    runs-on: ubuntu-latest
    name: Typos
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: reviewdog/action-typos@d5eb1bbcd1b3bfde596f6eeb470322727862fe98 # v1
        with:
          typos_flags: --config ${{github.workspace}}/.github/typos.toml
          reporter: github-pr-review
  skip-renovate:
    runs-on: ubuntu-latest
    name: Skip Duplicate Actions (Renovate)
    outputs:
      should-skip: ${{steps.sda.outputs.should_skip}}
    steps:
      - uses: fkirc/skip-duplicate-actions@f75f66ce1886f00957d99748a42c724f4330bdcf # v5
        id: sda
        with:
          paths: '[".github/renovate.json"]'
  renovate:
    runs-on: ubuntu-latest
    name: Renovate
    needs: skip-renovate
    if: needs.skip-renovate.outputs.should-skip != 'true'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
      - run: npm exec --package=renovate -- renovate-config-validator

