name: Pull Request
on:
  pull_request:
    types: [opened, synchronize, edited]
jobs:
  skip:
    name: Skip Duplicate Actions
    runs-on: ubuntu-latest
    outputs:
      should-skip: ${{steps.sda.outputs.should_skip}}
    steps:
      - uses: fkirc/skip-duplicate-actions@f75f66ce1886f00957d99748a42c724f4330bdcf # v5
        id: sda
  title:
    runs-on: ubuntu-latest
    name: Check PR Title
    needs: skip
    if: needs.skip.outputs.should-skip != 'true'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          check-latest: true
          node-version: 'lts/*'
          cache: npm
      - run: npm ci
      - run: jq -r '.pull_request.title' "${GITHUB_EVENT_PATH}" > PR_TITLE
      - run: npx commitlint --edit=PR_TITLE

  # TODO: move this to workflow_call capable runs?
  #
  # bsds:
  #   runs-on: ubuntu-latest
  #   needs: [title]
  #   strategy:
  #     matrix:
  #       os:
  #         - { name: dragonflybsd }
  #         - { name: freebsd }
  #         - { name: openbsd }
  #         - { name: netbsd }
  #   # TODO: Branch for each VM step.
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: vmactions/${{ matrix.os.name }}-vm@v1

